/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {     background-color: #8E4F9C; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .wrapper{
    background-color: #8E4F9C;
} */

.theme-btn{
    background-color: #8E4F9C;
    color: white
}

.theme-text{
    color: #8E4F9C
}

.ant-btn-primary {
    background-color: #8E4F9C !important
  }

  .absent-date {
    background-color: red;
    border-radius: 100%
  }
  .present-date {
    background-color: green;
    border-radius: 100%
  }
  .default {
    background-color: white;
    border-radius: 100%
  }