<div class="wrapper">
    <div class="container">
        <div class="mt-3 ml-5">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-white">All Employees</h1>
                </div>
                <div class="col-md-6">
                    <button mat-raised-button [routerLink]="['/create-employee']" class="mb-2 float-right">Add
                        Employee</button>
                </div>
            </div>
            <nz-table class="horizontalScroll" #employee [nzData]="allEmployees">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of employee.data">
                        <td>{{ data.users.name }}</td>
                        <td>{{ data.users.email }}</td>
                        <td>{{ data.phone }}</td>
                        <td>{{ data.designation }}</td>
                        <td>{{ data.address }}</td>
                        <td class="bg-white">
                            <!-- attendance marked button -->
                            <button class="theme-text" mat-icon-button (click)="showModal(data.user_id)" [matMenuTriggerFor]="appMenu">
                                <mat-icon>calendar_today</mat-icon>
                            </button>
                            <mat-menu #appMenu="matMenu" class="drop-calendar">
                                <div (click)="$event.stopPropagation()">
                                    <label class="ml-3 mt-3">Status:</label>
                                    <select required (ngModelChange)="markStatus($event)" [(ngModel)]="modal" class="w-50 ml-2 mt-3">
                                        <option value="" selected>Select</option>
                                        <option value="0">Absent</option>
                                        <option value="1">Present</option>
                                    </select>
                                    <mat-calendar #calendar [selected]="" (selectedChange)="select($event,calendar)"
                                    [dateClass]="presentClass()" startView="year" [startAt]="startDate"></mat-calendar>
                                   <label class="ml-3 mt-5">Check Absents<i class="fas fa-arrow-down ml-2"></i></label> 
                                    <mat-calendar #calendar [selected]="" (selectedChange)="select($event,calendar)"
                                    [dateClass]="absentClass()" startView="year" [startAt]="startDate"></mat-calendar>
                                </div>
                                <button class="theme-btn btn-sm ml-3" (click)="addAttendance()">Mark Attendance</button>
                            </mat-menu>
                            <button (click)="showConfirm(data.user_id)" mat-icon-button class="theme-text"
                                aria-label="Example icon button with a home icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button [routerLink]="['/update-employee/'+data.id]" class="theme-text"
                                aria-label="Example icon button with a home icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

        </div>

    </div>
</div>