table {
    width: 100%;
  }
 
  .horizontalScroll{
    overflow: auto;
    white-space: nowrap;  
  }

.mat-calendar-body-cell.selected
{
  background-color:#8E4F9C!important;
  border-radius: 50%
}
.drop-calendar

{
  width:30rem
}