<div class="wrapper">
    <div class="container">
        <div class="mt-3 ml-5">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-white">All Employees</h1>
                </div>
                <div class="col-md-6">
                    <button mat-raised-button [routerLink]="['/create-employee']" class="mb-2 float-right">Add
                        Employee</button>
                </div>
            </div>
            <nz-table class="horizontalScroll" #employee [nzData]="allEmployees">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of employee.data">
                        <td>{{ data.users.name }}</td>
                        <td>{{ data.users.email }}</td>
                        <td>{{ data.phone }}</td>
                        <td>{{ data.designation }}</td>
                        <td>{{ data.address }}</td>
                        <td class="bg-white">
                            <!-- attendance marked button -->
                            <button mat-button class="theme-btn btn-sm mr-3" (click)="showModal()">Mark
                                    Attendance</button>
                            <nz-modal [(nzVisible)]="isVisible" nzTitle="Employee Attendance"
                                (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                                <nz-range-picker class="w-100"></nz-range-picker>
                            </nz-modal>

                            <button (click)="showConfirm(data.user_id)" mat-icon-button class="theme-text"
                                aria-label="Example icon button with a home icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button [routerLink]="['/update-employee/'+data.id]" class="theme-text"
                                aria-label="Example icon button with a home icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

        </div>

    </div>
</div>