<div class="wrapper">
    <div class="container">
        <mat-card>
            <h1 class="ml-2 theme-text">Update Employee</h1>
            <form role="form" #updateEmployeeForm="ngForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput name="empName" required #empName="ngModel" [(ngModel)]="updateName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput name="empEmail" required #empEmail="ngModel" [(ngModel)]="updateEmail">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput name="empPhone" required #empPhone="ngModel" [(ngModel)]="updatePhone">
                </mat-form-field>
                <!-- 3 other fields -->
                <mat-form-field class="mt-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput name="empAddress" required #empAddress="ngModel" [(ngModel)]="updateAddress">
                </mat-form-field>
                <mat-form-field class="mb-5" appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input matInput name="empDesignation" required #empDesignation="ngModel"
                        [(ngModel)]="updateDesignation">
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field> -->
                <button mat-raised-button [disabled]="updateEmployeeForm.invalid" class="theme-btn ml-2"
                    (click)="updateEmployee(updateEmployeeForm.value, empObje.id)">
                    <span *ngIf="!spinner">
                        Update Employee
                    </span>
                    <span *ngIf="spinner">
                        Updating Employee
                        <i class="fas fa-spinner fa-spin"></i>
                    </span>
                </button>
            </form>
        </mat-card>
    </div>
</div>